.transition {
    z-index: 480;
    position: fixed;
    width: 100%;
    transition: all;
    .splashTextBG {
        overflow: hidden;
        position: absolute;
        z-index: 49;
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100vh;
        font-family: 'Phudu';
        font-size: 9.5vw;
        letter-spacing: 1px;
        font-weight: 900;
        text-transform: uppercase;
        transition: all ease-in-out 0.5s;
        .left {
            width: 50%;
            min-height: 100vh;
            background-color: black;
            transition: all ease-in-out 0.5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: rgb(204, 57, 57);
            text-align: right;
            line-height: 90%;
            transition: all ease-in-out 0.5s;
        }
        .right {
            width: 50%;
            min-height: 100vh;
            background-color: rgb(204, 57, 57);
            transition: all ease-in-out 0.5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
            text-align: left;
            line-height: 90%;
            transition: all ease-in-out 0.5s;
        }
    }
}
